<div class="card m-1 p-1 bg-light text-center align-items-center" >
    <img class="card-img-top img-fluid" src="{{prodotto.immagine}}" alt="Card image cap">
    <div class="card-body">
        <div class="row mb-4 align-items-center">
            <div class="col">
                <h5>
                    {{prodotto.nome}}
                </h5>
                <h5>
                    ${{prodotto.prezzo}}
                </h5>
            </div>
        </div>
        <hr>
        <div class="card-text bg-white-p1 mb-3 h-50" >
            {{prodotto.descrizione}}
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-danger" (click) = "cliccaCompra()">Buy now</button>
        </div>
    </div>
</div>