<h3>Price</h3>
<hr>
<div class="row mb-2">
    <label class="m-2" for="filtro">Filtra per:</label>
    <input type="range" class="form-control-range" name="filtro" id="filtro" min="0" max="30">
</div>
<div class="row mb-3">
    <div class="col text-left">
        <button class="btn btn-secondary">Filter</button>
    </div>
    <div class="col text-right">
        Price: $0-$30
    </div>
</div>
<h3>Products</h3>
<hr>
<div class="row">
    <button class="btn btn-outline-primary m-1" [class.active] = "categoriaSelezionata == 0" (click) ="select.emit(0); categoriaSelezionata = 0" >All categories</button>
</div>

<div *ngFor="let c of categorie" class="row">
    <button class="btn btn-outline-primary m-1" [class.active] = "categoriaSelezionata == c.id" (click) = "select.emit(c.id); categoriaSelezionata = c.id">{{c.nome}}({{c.totItems}})    </button>
</div>
