<h3>Price</h3>
<hr>
<div class="row mb-2">
    <label class="m-2" for="filtro">Filtra per:</label>
    <input type="range" class="form-control-range" name="filtro" id="filtro" min="0" max="30">
</div>
<div class="row mb-3">
    <div class="col text-left">
        <button class="btn btn-secondary">Filter</button>
    </div>
    <div class="col text-right">
        Price: $0-$30
    </div>
</div>
<h3>Products</h3>
<hr>
<div class="row">
    <div class="col-8" >
        Towels
    </div>
    <div class="col-4">
        (3)
    </div>
</div>
<div class="row">
    <div class="col-8">
        Towels
    </div>
    <div class="col-4">
        (3)
    </div>
</div>
<div class="row">
    <div class="col-8">
        Towels
    </div>
    <div class="col-4">
        (3)
    </div>
</div>
<div class="row">
    <div class="col-8">
        Towels
    </div>
    <div class="col-4">
        (3)
    </div>
</div>
<div class="row">
    <div class="col-8">
        Towels
    </div>
    <div class="col-4">
        (3)
    </div>
</div>

