<h3>Price</h3>
<hr>
<div class="row mb-2">
    <label class="m-2" for="filtro">Filtra per:</label>
    <input type="range" class="form-control-range" name="filtro" id="filtro" min="0" max="30">
</div>
<div class="row mb-3">
    <div class="col text-left">
        <button class="btn btn-secondary">Filter</button>
    </div>
    <div class="col text-right">
        Price: $0-$30
    </div>
</div>
<h3>Products</h3>
<hr>
<div *ngFor="let c of categorie" class="row">
    <button class="btn btn-outline-primary" (click) = "select.emit(c.id)">
        <div class="col">{{c.nome}}</div>
        <div class="col">{{c.totItems}}</div>
    </button>
</div>
