<div class="row m-2 bg-primary align-items-center">
    <div class="col-1">
        <button class="btn btn-primary" routerLink="/home">HOME</button>
    </div>
    <div class="col-1">
        <button class="btn btn-primary" routerLink="/add-prodotto">ADD PRODUCT</button>
    </div>
    <div class="col-1">
        <button class="btn btn-primary">SERVICES</button>
    </div>
    <!--
    <div class="col-1">
        <button class="btn btn-primary" routerLink="/list-prodotti">PRODUCTS</button>
    </div>-->
    <div class="col-1">
        <button class="btn btn-primary" routerLink="/registrazione">REGISTRATION</button>
    </div>
    <div class="col-1">
        <button class="btn btn-primary" routerLink="/login">LOGIN</button>
    </div>
    <div class="col-5"></div>
    <div class="col-2 text-center font-italic font-weight-bold text-light border border-light rounded p-2">
        E-COMMERCE
    </div>
</div>  
     
