<div class="row bg-dark justify-content-center text-light">
    <div class="col-6 ">
        <h3>Foolish Developer</h3>
        Foolish Developer is a blog website where you will
        find great tutorials on web design and development.
        Here each tutorial is beautifully desrcibed step by step
        with the required source code.
        <div class="row  p-5">
            <div class="col">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="col">
                <i class="fa-brands fa-google-plus-g"></i>
            </div>
            <div class="col">
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="col">
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="col">
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
