<div class="container-fluid">
            <form action="" (ngSubmit) = "inviaProdotto()" [formGroup]="formProdotto" >
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input class="form-control" formControlName = "nome" type="text" id="nome">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="descrizione">Descrizione:</label>
                            <textarea class="form-control" formControlName = "descrizione" rows="2" cols="3" id="descrizione"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">

                        <div class="form-group">
                            <label for="prezzo">Prezzo:</label>
                            <input class="form-control" type="number" formControlName = "prezzo" id="descrizione">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="taglia">Taglia:</label>
                            <input class="form-control" type="number" formControlName = "taglia" id="taglia">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="immagine">Immagine:</label>
                            <input class="form-control" type="text" formControlName = "immagine" id="immagine">
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
